@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600';
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Source+Sans+Pro:200,300,400,600';

.page-container {
}

.header {
	position: relative;
	height: 100vh !important;
	width: 100vw;
	background-image: url('img/bg.jpeg');
	background-size: cover;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
}

h1 {
	opacity: 0.7;
	font-size: 200px;
	line-height: 100vh;
	font-weight: 600;
	vertical-align: middle;
}

.strokeme
{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.section-container {
	position: relative;
	height: 600px;
	width: 100%;
	background: #fffff;
	font-family: 'Lato', sans-serif;
	color: #fffff;
}

h4 {
	padding-top: 70px;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 100px;
}

.quote-1 {
	padding-left: 600px;
}

.quote-2 {
	padding-left: 130px;
}

.quote {
	background: #fffff;
}

img {
	width: 200px;
	height: auto;
}

.img-circle {
    border-radius: 50%;
}

.quote-1-image {
	padding-top: 70px;
	padding-left: 130px;
	float: left;
}

.quote-2-image { 
	padding-top: 60px;
	padding-right: 130px;
	float: right
 }

.about {
	background: yellow;
}

.about-des {
	position: relative;
	width: 33.33%;
	height: 100%;
	background: #F4F4F8;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 36px;
	text-align: center;
}

.acm-group {
	vertical-align: middle;
}

.workshops-icon {
	position: absolute;
	width: 123px;
	height: auto;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
}

.brain-icon {
	position: absolute;
	width: 123px;
	height: auto;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
}

.glasses-icon {
	position: absolute;
	width: 135px;
	height: auto;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
}

.about-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;	
}

.date-icon {
	position: relative;
	width: 72px;
	height: auto;
	margin-right: 10px;
	margin-top: 350px;
	float: center;
}

/*** Footer ***/
ul {
	
}

li {
	margin: 10px 0px 10px 40px;
	float: left;
}

.logo-icon {
	width: 40px;
	height: auto;
}

.footer-text {
	font-family: 'Source Sans Pro', sans serif;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 25px;
	float: right;
	margin: 15px 30px 0 0;
}

